body {

    color: rgb(214, 236, 236);
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 50px;

}

header {

    border-bottom: solid 1px oldlace;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: oldlace;
    font-style: italic;
}


.chamada{ 
    
    background-color: silver;
    color: rgb(108, 83, 83);
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.video-principal {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.texto-video {

    background-color: silver;
    color: rgb(108, 83, 83);
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;

}

.categoria { 
    
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;

}

.categoria h2 {
         color: rgb(114, 205, 215);
         text-align: center;
}

.fila-videos {

    display: flex;
    overflow-x: auto;
    gap: 10px;

}

.fila-videos img {
    opacity: 0.5;
    border: 1px solid green;
}

.fila-videos img:hover{
    opacity: 1.0;
    border: 2px solid rgb(5, 186, 210);
}



img {
    height: 200px;
  }



  
